<!DOCTYPE html>
<html lang="nl-be">
<%- include("partials/head") %>
<body>
    <header class="navbar">
        <h1 id="title">Bamboo Nail</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Catalog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#"><i class="fa-solid fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>
</html>