<!DOCTYPE html>
<html lang="nl-be">
<%- include("partials/head") %>
<body>
    <header class="navbar">
        <h1 id="title">Bamboo Nail</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="banner"></section>
        <section id="landing-container">
            <article id="intro">
                <h1>Welcome to Our Premium Nail Salon</h1>
            </article>
            <article id="intro-subtext">
                <p>Discover the ultimate pampering experience at our state-of-the-art nail salon. Indulge in a wide range of <br>luxerious services</p>
            </article>
            <article>
                <button class="intro-button">Book</button>
                <button class="intro-button">Schedule</button>
            </article>
            <article id="intro-subtext2">
                <p>Elevate Your Beauty with Our Exceptional Services</p>
            </article>
        </section>
        <section id="intro-image-container">
            <img src="assets/Asset1.png" class="intro-images" alt="Person">
            <img src="assets/Asset2.png" class="intro-images" alt="">
        </section>
        <section id="intro-subtitle">
            <h1>Elevate Your Nail Care <br> Experience</h1>
        </section>
        <section id="intro-subtitle2">
            <h1>Enhance Your <br>Natural Beauty</h1>
        </section>
        <section id="nail-container">
            <article class="nail-item">
                <img src="assets/Nail1.png" alt="nail1">
            </article>
            <article class="nail-item">
                <img src="assets/Nail2.png" alt="nail2">
            </article>
            <article class="nail-item">
                <img src="assets/Nail3.png" alt="nail3">
            </article>
        </section>
        <section id="title-container">
            <article><p>Revive and</p></article>
            <article><p>Radiant and</p></article>
            <article><p>Personalized</p></article>
        </section>
        <section class="ad-container">
            <article class="nail-content">
                <h2>Unlock the <br>
                Secret to <br>
                Stunning Nails</h2>
                <p>Unleash the Power of Nail <br>
                Transformation with Our Premium</p>
            </article>
            <article>
                <img src="assets/Asset3.png" class="ad-image" alt="nail">
            </article>
        </section>
        <section class="ad-container">
            <article class="nail-content">
                <h2>Elevate Your Nail <br>
                    Game</h2>
                <p>Welcome to our premier nail salon, where we <br>
                    elevate the art of nail care to new heights. <br>
                    Indulge in a spectrum of luxurious services,<br>
                    meticulously crafted to cater to your every <br>
                    occasion.
                </p>
            </article>
            <article>
                <img src="assets/Asset4.png" class="ad-image" alt="nail">
            </article>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>
