<!DOCTYPE html>
<html lang="nl-be">
<%- include("partials/head") %>
<body>
    <header>
        <img src="assets/logo.jpg" alt="logo">
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Catalog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#"><i class="fa-solid fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="assets/banner.jpg"  id="banner" alt="Banner">
        <h1>Bamboo Nail</h1>
        <p>Antwerpen 2000</p>
    </main>
    <footer>
        <h1>Goodbye</h1>
    </footer>
</body>
</html>
