<!DOCTYPE html>
<html lang="nl-be">
<%- include("partials/head") %>
<body>
    <header class="navbar">
        <h1 id="title">Bamboo Nail</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="banner"></section>
        <section class="text">
            <article>
                <h1>Explore Our designs</h1>
            </article>
        </section>
        <section id="nail-container">
            <article class="nail-item">
                <img src="assets/Nail1.png" alt="nail1">
            </article>
            <article class="nail-item">
                <img src="assets/Nail2.png" alt="nail2">
            </article>
            <article class="nail-item">
                <img src="assets/Nail3.png" alt="nail3">
            </article>
            <article class="nail-item">
                <img src="assets/Nail4.png" alt="nail4">
            </article>
            <article class="nail-item">
                <img src="assets/Nail5.png" alt="nail5">
            </article>
            <article class="nail-item">
                <img src="assets/Nail6.png" alt="nail6">
            </article>

        </section>
    </main>
    <footer>
    </footer>
</body>
</html>
