<!DOCTYPE html>
<html lang="nl-be">
<%- include("partials/head") %>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Catalog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#"><i class="fa-solid fa-bars"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Hello</h1>
    </main>
    <footer>
        <h1>Goodbye</h1>
    </footer>
</body>
</html>
