* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
        "Header"
        "Main"
        "Footer";
    height: 100vh;
    width: 100vw;
    grid-template-rows: 5% auto auto;
}

/* Navbar */

header {
    grid-area: Header;
    width: 100%;
    margin-top: 1em;
}

#title {
    font-family:"Gloock", "serif";
    color: black;
    padding-left: 2em;
    font-size: 45px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 0;
    z-index: 1000;
    width: 100%;
}

.navbar ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.navbar a {
    font-family: "Lexend","sans-serif";
    color: #989D9D;
    text-decoration: none;
    padding: 7px 10px;
    background-color: rgba(0, 0, 0, 0); 
    border-radius: 20px;
    transition: background-color 300ms ease-in-out;
}

.navbar li {
    margin: 0 30px;
}

.navbar a:hover {
    background-color: rgb(158, 161, 128); 
}

header {
    grid-area: Header;
}

main {
    grid-area: Main;
    width: 100%;
}

footer {
    grid-area: Footer;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* Index */

#banner {
    margin-top: -5%;
    height: 500px;
    background: linear-gradient(to top,rgba(241, 254, 252, 1),rgba(255, 225, 255, 0), rgba(241, 254, 252, 1.5)), 
                url('../assets/Bamboo.png'); 
    background-size: cover; 
    background-position: center; 
}

#landing-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -12rem;
    background: linear-gradient(to bottom,rgba(241, 254, 252, 0), rgba(241, 254, 252, 1.5),rgba(241, 254, 252, 1.5)); 
}

#intro {
    font-size: 3.4rem;
    font-family: "Gloock";
    margin: 0 30% 2% 30%;
    text-align: center;
}

#intro-subtext {
    font-size: 19px;
    color: #838787;
    margin: 0 32% 1% 32%;
    text-align: center;
}

button {
    background-color: #ffffff;
    color: #939296;
    padding: 19px 47px 19px 47px;
    border: none;
    font-size: 16px;
    margin: 15px;
}

button:nth-child(2) {
    padding: 19px 37px 19px 37px;
    background-color: black;
}

#intro-subtext2 {
    font-size: 16px;
    color: #A6B0AF;
    font-family: "Lexend", "sans-serif";
    margin-bottom: 125px;
    margin-top: 25px;
}

#intro-image-container {
    display: flex;
    padding: 0 50px 0 50px;
    background-color: rgba(241, 254, 252);
}

.intro-images {
    width: 50%;
    height: auto;
}

#intro-subtitle {
    font-size: 32px;
    text-align: center;
    font-family: "Gloock", serif;
    background-color: rgba(241, 254, 252);
    padding: 2em 0 2em 0;
}

#intro-subtitle2 {
    font-size: 32px;
    text-align: center;
    font-family: "Gloock", serif;
    padding: 2em 0 2em 0;
}

#nail-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    padding: 1% 10% 5% 10%;
    gap: 50px;
}

#title-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1% 10% 5% 10%;
    gap: 50px;
    background-color: rgba(241, 254, 252);
    color:#717B77;
    font-family: "Lexend", sans-serif;
}

.nail-item {
    flex: 1 1 200px;
}

.ad-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    padding: 0rem;
    background-color: rgba(241, 254, 252);
    gap: 2rem;
}

.ad-image {
    width: 50%;
    height: auto;
    object-fit: contain;
}

.nail-content {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nail-content h2, .nail-content p {
    margin-left: 0%;
    margin-right: 10%
}

.nail-content h2 {
    font-family: "Gloock", serif;
    font-size: 32pt;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.nail-content p {
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    color: #717B77;
}


.prize-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between; 
}

.prize-container img {
    width: 500px;
    height: auto;
    max-width: 100%; 
}

.prize-items {
    padding: 1% 10%;
    flex: 1; 
    min-width: 200px; 
}